<ion-view>
    <ion-content padding="false">
            
        <div class="list">
            <a ng-repeat="item in items track by $index" item="item" ng-click="getdetails($index)" item="item" ng-click="getdetails({{item.id}})"class="item item-thumbnail-left" >
                
                <img ng-src="{{ item.image }}">
                
                <h2>{{ item.title }}</h2>
                <h2>{{ item.description }}</h2>
                <p>{{item.user.username}}</p>
                <button ng-click="delete(item.$id)">Supprimer</button>
                
            </a>            
        </div>
    </ion-content>
    <ion-footer-bar class="bar-assertive">
        <div class="buttons" ng-click="addItem(newItem)">
          <button class="button">Ajouter une annonce</button>
        </div>
      </ion-footer-bar>
</ion-view>