<ion-view>
    <ion-content padding="false">
        <div class="list card">
            
              <div class="item item-avatar">
                <h2>{{ items.user.username }}</h2>
                <p> {{ items.title }}</p>
              </div>
            
              <div class="item item-body">
                <img class="full-image" ng-src="{{ items.image }}">
                <p>{{ items.description }}</p>
                

              </div>
            
            </div>
    </ion-content>
</ion-view>