<ion-modal-view>
  <ion-header-bar>
      <button ng-click="closeModal()">close</button>
      <h1 class="title">{{items[currentItem].brand}} {{items[currentItem].model}}</h1>
    </ion-header-bar>
    <ion-content>
      <div class="row">
        <div class="col-offset-10 col-30">
          <h2>{{ items[currentItem].price }}€</h2>

        </div>
        <div class="col-offset-10 col-30">
            <h2>{{ items[currentItem].kilometers }}Km</h2>
  
          </div>

      </div>
      <div class="row">
          <div class="col-offset-10 col-80">
        <p>{{ items[currentItem].description }}</p>
      </div>
    </div>
    <div class="row">
        <div class="col-offset-10 col-80">
            <h3>{{items[currentItem].user.username}} {{items[currentItem].user.phone}}</h3>
        </div>
      </div>
      
    </ion-content>
</ion-modal-view>