<ion-view>
    <ion-content padding="false">
        <div class="card">
            <!-- <div class="item item-divider text-center">
                Recherche rapide
            </div> -->
            <div class="item item-text-wrap">
                <form>
                    <div class="list">
                        <label class="item item-input">
                            <input type="text" placeholder="e-mail" ng-model="user.email">
                        </label>
                        <label class="item item-input">
                            <input type="password" placeholder="Mot de passe" ng-model="user.password">
                        </label>
                    </div>
                </form>
            </div>
        <div class="item item-divider text-center">
            <a href="" class="button button-positive button-small" ng-click="signIn(user)">
                Identifiez moi vite
            </a>
            <a href="" class="button button-energized button-small">
                mot de passe perdu
            </a>
        </div>
    </div>
    <a href="#/signUp" class="button button-calm button-large button-full">
        Je n'ai pas de compte
    </a>
    <a class="button button-assertive button-large button-full" ng-click="deleteUser()">supprimer le compte</a>
    </ion-content>
</ion-view>