<ion-view>
    <ion-content padding="false">
        <div class="card">
            <div class="item item-divider text-center">
                Recherche rapide
            </div>
            <div class="item item-text-wrap">
                <form>
                    <div class="list">

                        <label class="item item-input">
                            <input type="text" placeholder="mots clés">
                            
                        </label>

                    </div>
                    <div class="list">
                        <label class="item item-input item-select">
                            <div class="input-label">
                                Categorie
                            </div>
                            <select>
                                <option>Blue</option>
                                <option selected>Green</option>
                                <option>Red</option>
                            </select>
                        </label>
                    </div>

                    <div class="list">

                        <label class="item item-input item-select">
                            <div class="input-label">
                                Departement
                            </div>
                            <select>
                                <option>Blue</option>
                                <option selected>Green</option>
                                <option>Red</option>
                            </select>
                        </label>

                    </div>
                    <div class="list">

                        <label class="item item-input item-select">
                            <div class="input-label">
                                Ville
                            </div>
                            <select>
                                <option>Blue</option>
                                <option selected>Green</option>
                                <option>Red</option>
                            </select>
                        </label>

                    </div>
            </div>
            </form>
        </div>
        <div class="item item-divider">
            <a href="" class="button button-positive button-small text-center">
                Va chercher
            </a>
        </div>
    </div>
    <button class="button button-assertive button-large button-full">
        recherche par carte
    </button>
    </ion-content>
</ion-view>