<ion-view>
    <ion-content padding="false">
        <div class="list list-inset">
            <label class="item item-input">
              <input type="text" ng-model="newUser.email" placeholder="e-mail">
            </label>
            <label class="item item-input">
              <input type="text" ng-model="newUser.password" placeholder="Password">
            </label>
          </div>
          <div class="item item-divider text-center">
            <a href="" class="button button-positive button-small" ng-click="registerUser(newUser)">
                Enregistrez
            </a>
        </div>
    </ion-content>
</ion-view>